<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.banagram.comment.dao.CommentDAO">
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO `comment`
 		(
 			`userId`
 			, `postId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{postId}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<select id="selectCommentList" parameterType="int" resultType="com.banagram.comment.model.Comment">
 		SELECT
 			`id`
 			, `userId`
 			, `postId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`comment`
 		WHERE
 			`postId` = #{postId}
 	</select>
 	<delete id="deleteCommentByPostIdUserIdCommentId" parameterType="map">
 		DELETE FROM `comment`
 		WHERE
 			`userId` = #{userId} AND
 			`postId` = #{postId} AND
 			`id` = #{commentId}
 	</delete>
 	<delete id="deleteCommentByPostId" parameterType="int">
 		DELETE FROM `comment`
 		WHERE
 			`postId` = #{postId}
 	</delete>
 </mapper>