@charset "UTF-8";



/* post_modal */
.post-modal-content {
	border-radius: 15px;
	min-width: 923px;
}

.title {
	height: 60px;
	border-bottom: 1px solid rgb(190, 190, 190);
}

.title-box {
	width: 90%;
}

.title-font {
	font-size: 16px;
	font-weight: bold;
}

.submit-btn {
	margin-right: 10px;
	padding: 0;
	outline: none !important; 
	border: 0;
	background-color: #fff;
	width: 10%;
	font-weight: bold;
	color: rgb(52, 152, 219);
}

.modal-content > .creat-content-box {
	height: 568px;
}

.image-btn {
	width: 300px;
	height: 40px;
	background-color: rgb(52, 152, 219);
	border-radius: 10px;
	color: #fff;
}

.profile-img-box {
	position: relative;
	width: 42px;
	height: 42px;
	border: 3px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#fff, #fff), linear-gradient(to left bottom, red 0%, orange 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-sizing: border-box;
}


.profile-img {
	width: 32px;
	height: 32px;
	border-radius: 50%; 
}

.profile-img-side {
	width: 56px;
	height: 56px;
	border-radius: 50%; 
	margin-right: 15px;
}	


.text-content {
	width: 100%;
	height: 85%;
	border: 0;
	outline: 0;
}


/* delete_modal */


.del-modal-content {
	width: 402px;
	height: 116px;
	border-radius: 15px;
}


.del-font-style {
	font-size: 14px;
	font-weight: bold;
}

#del-box {
	border-bottom: 1px solid rgb(190, 190, 190);
}

.del-box {
	border-radius: 15px;
}